@font-face {
    font-family: "hr-icons";
    src: url("hr-icons.eot");
    src: url("hr-icons.woff") format("woff"), url("hr-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'videogular';
    src: url(videogular.eot);
    src: url(videogular.woff) format("woff"), url(videogular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal
}
