@font-face {
  font-family: "hr-icons";
  src: url("hr-icons.eot") !important;
  src: url("hr-icons.woff") format("woff"), url("hr-icons.ttf") format("truetype") !important;
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'videogular';
  src: url("videogular.eot") !important;
  src: url("videogular.woff") format("woff"), url("videogular.ttf") format("truetype") !important;
  font-weight: normal;
  font-style: normal
}
